*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', sans-serif;
    box-sizing: border-box;
}

body {

    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    color: white;
    min-height: 100vh;
    
}

header { 
    font-size: 1.5rem;
}

header,
form{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    background: white;
    border: none;
}

form button {
    transition: 0.3s;
    cursor: pointer;
    background: white;
    color:#12c2e9 ;
}

form button:hover{
    background:#12c2e9 ;
    color: white;
}

.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-list {
    list-style: none;
    min-width:30% ;
    
}

.task {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.task li {
    flex: 1;
}

.remove-btn, .complete-btn{
    background: green;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;

}

.remove-btn{
    background: #f64f59;
}

.task-item{
    padding:0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall { 
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance:none ;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color:#12c2e9 ;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    

}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #12c2e9;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #12c2e9;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    header h1{
        font-size: 30px;
    
    }
    header,
    form{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    form input,
    form button {
        padding-right: 1rem;
        font-size: 1rem;
        background: white;
        border: none;
}
    form input{
        margin-left: 10px;
}
.task {
    margin: 0.3rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.task-list {
    list-style: none;
    min-width:60% ;
    
}
select{
    color:#12c2e9 ;
    width: 1rem;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 16px;
    

}

 }

 @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    header h1{
        font-size: 30px;
    
    }
    header,
    form{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    form input,
    form button {
        padding-right: 1rem;
        font-size: 1rem;
        background: white;
        border: none;
}
    form input{
        margin-left: 10px;
}
.task {
    margin: 0.3rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.task-list {
    list-style: none;
    min-width:60% ;
    
}
.remove-btn, .complete-btn{
    background: green;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.5rem;

}
.remove-btn{
    background: #f64f59;
}
select{
    color:#12c2e9 ;
    width: 1rem;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 10px;
    

}
 }

 @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    header h1{
        font-size: 20px;
    
    }
    header,
    form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    form input,
    form button {
        padding-right: 0.3rem;
        font-size: 0.9rem;
        background: white;
        border: none;
}
    form input{
        margin-left: 8px;
}
.task {
    margin: 0.4rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.task-list {
    list-style: none;
    min-width:60% ;
    
}

.remove-btn, .complete-btn{
    background: green;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.5rem;

}
.remove-btn{
    background: #f64f59;
}

select{
    color:#12c2e9 ;
    width: 1rem;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 10px;
    

}
  }